<div class="grid" *ngIf="area" >
    <div class="col mt-2" >
        <p-card header="List of investigation" >
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" 
                            icon="pi pi-plus" 
                            class="p-button-success p-mr-2"
                            routerLink="/parameters/investigation/area-create">
                    </button>
                </ng-template>
            </p-toolbar>
        
        
                <p-table [value]="area">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-area>
                        <tr>
                            <td>{{area.id}}</td>
                            <td>{{area.nombre}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" 
                                        class="p-button-rounded p-button-success p-mr-2"
                                        style="margin-right: 5px;"
                                        type="button"
                                        [routerLink]="['/parameters/investigation/area-update', area.id]" 
                                        >
                                </button>
                                <button pButton pRipple icon="pi pi-trash" 
                                        class="p-button-rounded p-button-warning"
                                        type="button"
                                        [routerLink]="['/parameters/investigation/area-delete', area.id]" 
                                        >
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </p-card>
    </div>   
</div>
    

<router-outlet></router-outlet>

